.frame[data-v-59fb0eb3]{inset:0;position:absolute}.frame .frame-iframe[data-v-59fb0eb3]{border:0;box-sizing:border-box;height:100%;overflow:hidden;width:100%}.main-content[data-v-59fb0eb3]{margin:2px 0 0!important}
